html {
  color: rgb(211, 211, 211);
  background-color: rgb(50, 50, 50);
  font-family: ui-sans-serif;
  font-size: 20px;
}

h1 {
  color: rgb(0, 175, 0);
  background-color: rgb(75, 75, 75);
  font-family: ui-monospace;
  padding: 10px;
}

h3 {
  font-style: italic;
}

ul {
  color: rgb(225, 225, 225);
  background: rgb(75, 75, 75);
  padding: 10px;
}
  
li {
  font-family: ui-monospace;
  list-style-type: square;
  margin-left: 20px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: lightgreen;
  border-bottom: 1px solid;
}

a:visited {
  color: lightskyblue;
  border-bottom: 0px;
}

a:focus {
  border-bottom: 1px solid;
}

a:hover {
  border-bottom: ipx solid;
}

a:active {
  background: lightgreen;
  color: rgb(225, 225, 225);
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}